{% extends 'base.html' %}

{% block title %}
  Register Page
{% endblock %}

{% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mt-md-4 pb-5">
            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
            <br>
            <hr>
            <form method="post" class="form-register">
              {{ form.hidden_tag() }}
              <div class="form-outline form-white mb-4">
                {{ form.username(class="form-control form-control-lg", placeholder="User Name", autocomplete="off") }}
              </div>

              <div class="form-outline form-white mb-4">
                {{ form.email(class="form-control form-control-lg", placeholder="Email Address", type="email") }}
              </div>

              <div class="form-outline form-white mb-4">
                {{ form.password1(class="form-control form-control-lg", placeholder="Password") }}
              </div>

              <div class="form-outline form-white mb-4">
                {{ form.password2(class="form-control form-control-lg", placeholder="Confirm Password") }}
              </div>

              <br>
              {{ form.submit(class="btn btn-outline-primary btn-lg px-5") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
